# Robo-TiTO connects to Jabber using these settings.
BOT_LOGIN         = "user@gmail.com"
BOT_PASSWORD      = "password"

# If you don't need the server settings set them to nil
# BOT_JABBER_HOST_SERVER = nil
# BOT_JABBER_SERVER_PORT = nil
#
# For google/gmail account use:
BOT_JABBER_HOST_SERVER = 'talk.google.com'
BOT_JABBER_SERVER_PORT = 5222

# Robo-TiTO only accepts commands from contacts listed on PASSWD hash.
PASSWD = {
  "username" => "base32secret_for_one_time_passwords",
}
