# Robo-TiTO connects to Jabber using these settings.
BOT_LOGIN         = "user@gmail.com"
BOT_PASSWORD      = "password"
BOT_JABBER_HOST_SERVER = 'talk.google.com'
BOT_JABBER_SERVER_PORT = 5222

# Robo-TiTO only accepts commands from contacts listed on AllowedUsers array.
ALLOWED_USERS      = ['alloweduser@gmail.com']

# A user contacting Robo-TiTO is required sending this CLIENT_PASSPHRASE
# before start a session. No command will be executed without providing the passphrase.
CLIENT_PASSPHRASE = "logmein"
